<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KuncoroCV</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body bgcolor="red">
    <!-- Header -->
    <header>
        <div class="title">
            <a href="#" class="header-logo">Kuncoro<span class="blue-text">CV</span></a>
        </div>
        <nav>
            <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
            <ul>
                <li><a href="#home">Profile</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#projects">Projects</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main content -->
    <main>
        <!-- Section home -->
        <section id="home">
            <div class="container-home">
                <div class="profile-data">
                    <h1>Ridho Kuncoro Adji Wibowo</h1>
                    <h3 class="typewrite text-white" data-period="2000" data-type='[ "Front-End Web","Machine Learning","Deep Learning" ]'>
                        <span class="wrap">Hello, World!.</span>
                    </h3>
                    <div class="social-media">
                        <a href="#" class="fab fa-facebook"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="https://www.linkedin.com/in/ridho-kuncoro-adji-wibowo-b0025a245/" target="_blank" class="fab fa-linkedin"></a>
                        <a href="https://github.com/kuncoroadjie" target="_blank" class="fab fa-github"></a>
                    </div>
                    <a href="mailto:kuncoroadjie17@gmail.com" class="btn">Contact me</a>
                </div>
                <div class="profile-img">
                    <img src="../static/images/kuncoro.png" alt="kuncoro photo">
                </div>
            </div>
        </section>

          <!-- Section about -->
          <section id="about">            
            <div class="container">
                <div class="title">
                    <h2 class="section-title">About <span class="blue-text">Me</span></h2>
                    <p>I am a highly motivated Computer Science student with a focus on front-end web development using React. I am enthusiastic about Artificial Intelligence (AI), particularly Machine Learning (ML) and Deep Learning (DL). As a quick learner and team player, I am eager to take on challenges and collaborate to achieve project goals. I am committed to delivering high-quality work and continuously improving my skills to contribute effectively to web development and AI projects. </p>
                </div>
                
                <aside>
                        <div class="basic-info">
                            <br>    
                            <h3>Basic Info</h3>
                            <p><b>Date of Birth:</b> 17 July 2001</p>
                            <p><b>Phone No:</b> +6285158525432</p>
                            <p><b>Email:</b> kuncoroadjie17@gmail.com</p>
                            <p><b>Address:</b> Trenggalek, Jawa Timur</p>
                            <p><b>Freelance:</b> Available</p>
                        </div>
                </aside>                
            </div>
        </section>        
        
        <!-- Section education -->
        <section id="education">
            <div class="container">
                <div class="title">
                    <h2 class="section-title">Education</h2>
                </div>
                <div class="all-education">
                    <div class="card">
                        <div class="icon">
                            <img src="../static/images/unp.jpg" alt="unp">
                        </div>
                        <div class="text-card">
                            <h3>Universitas Nusantara PGRI Kediri</h3>
                            <i>S1 Informatics Engineering</i>
                            <p>2020 until now</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="icon">
                            <img src="../static/images/dicoding.png" alt="dicoding">
                        </div>
                        <div class="text-card">
                            <h3>MSIB Kampus Merdeka : Dicoding Indonesia</h3>
                            <i>Front-End Web React</i>
                            <p>Aug - Des 2022</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="icon">
                            <img src="../static/images/orbit.jpg" alt="orbit">
                        </div>
                        <div class="text-card">
                            <h3>MSIB Kampus Merdeka : Orbit Future Academy</h3>
                            <i>AI Mastery</i>
                            <p>Feb 2023 until now</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section projects -->
        <section id="projects">
            <div class="container">
                <div class="title">
                    <h2 class="section-title">The <span class="blue-text">Projects</span></h2>
                </div>
                <div class="all-projects">
                    <article class="article-card">
                        <div class="img-card">
                            <img src="../static/images/tasbihmu.png" alt="">
                        </div>
                        <div class="article-content">
                            <h4>Tasbihmu</h4>
                            <p>TASBIHMU merupakan aplikasi penghitung dzikir online berbasis web. Kelebihan aplikasi ini adalah...</p>
                        </div>
                        <a href="https://kuncoroadjie.github.io/tasbihmu" target="_blank">Detail</a>
                    </article>
                    <article class="article-card">
                        <div class="img-card">
                            <img src="../static/images/bookshelf.png" alt="bookshelf">
                        </div>
                        <div class="article-content">
                            <h4>Bookshelf App</h4>
                            <p>Teman membacamu untuk memanajemen bukumu. Dilengkapi dengan fitur pengelompokan buku. </p>
                        </div>
                        <a href="https://kuncoroadjie.github.io/bookshelf-app/" target="_blank">Detail</a>
                    </article>
                    <article class="article-card">
                        <div class="img-card">
                            <img src="../static/images/kunmovies.png" alt="kunmovies">
                        </div>
                        <div class="article-content">
                            <h4>KunMovies</h4>
                            <p>Explor film terbaru dan buat list favorit film serta otomatis tersimpan pada local storage web.</p>
                        </div>
                        <a href="https://kunmovies-v2.netlify.app/" target="_blank">Detail</a>
                    </article>
                </div>
                <a href="#">View All</a>
            </div>
        </section>
    </main>
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="company">
                <h1 class="section-title">Kuncoro<span class="blue-text">CV</span></h1>
                <p>2023@Kuncoroadjie</p>
            </div>            
        </div>
    </footer>
    <script src="../static/js/function.js"></script>
</body>
</html>